* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #40916c;
    text-align: center;
}

.container {
    height: 70vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
  

}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1vmin;
    position: relative;
    left: 70vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #f94144;
    background-color: aliceblue;
}
#rst-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #001233;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #001233;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    border: none;
}
#msg{
color: rgb(244, 255, 37);
font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;  
}