@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    position: sticky;
    top: 0px;
    margin: 0px 50px;
    border-radius: 15px;
    z-index: 100;
}

.nav {
    border-radius: 12px;
    background: transparent;
    background-color: rgba(11, 8, 8, 0.916);
    box-shadow: 2px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    backdrop-filter: 50px;
}

.nav ul img {
    width: 110px;
    height: 18px;
    cursor: pointer;
    position: relative;
    right: 20vw;
    z-index: 10;
}

.nav ul {
    margin: 0 75px;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: white;
    border-radius: 4px;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 19px;
    font-style: normal;
    cursor: pointer;
}

.nav ul li {
    position: relative;
    right: 16vw;
}

.btn1 {
    background-color: rgba(128, 128, 128, 0.086);
    color: white;
    font-size: 19px;
    border: none;
    position: relative;
    left: 18vw;
    cursor: pointer;
}

.btn2 {
    padding: 5px 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #157bcf;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    left: 18vw;
    cursor: pointer;
}

main {

    color: white;
    height: 100vw;
    width: 100vw;

}

main .moviebox {
    width: 100vw;
    height: 100vh;
    background-color: black;

}

main .moviebox img {
    width: 99vw;
}

.detail1 h1 {
    position: relative;
    left: 70px;
    bottom: 650px;
    font-weight: 600;
    font-size: 50px;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
}

.detail1 h4 {
    position: relative;
    z-index: 10;
    left: 70px;
    bottom: 610px;
    height: 50px;
    width: 610px;
    font-size: 20px;
    word-spacing: 3px;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
}

.detail1 button {
    background-color: #ffffff;
    height: 65px;
    width: 250px;
    position: relative;
    z-index: 10;
    left: 70px;
    bottom: 560px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    font-weight: bolder;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(67, 66, 66);
    cursor: pointer;
    z-index: 10;
}

main .moviebox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

main .moviebox1 img {
    width: 50%;
    height: 70%;
}

main .moviebox1 .detail2 h1 {
    position: relative;
    z-index: 10;
    left: 100px;
    bottom: 60px;
    font-weight: 600;
    font-size: 50px;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
}

main .moviebox1 .detail2 h4 {
    position: relative;
    z-index: 10;
    left: 100px;
    bottom: 40px;
    height: 50px;
    width: 610px;
    font-size: 20px;
    word-spacing: 3px;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
}

main .moviebox1 .detail2 button {
    background-color: #ffffff;
    height: 65px;
    width: 250px;
    position: relative;
    z-index: 10;
    left: 100px;
    bottom: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    font-weight: bolder;
    font-family: "Epunda Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(67, 66, 66);
    cursor: pointer;
}

.allimg {
    display: grid;
    grid-template-columns: 238px 238px 238px;
    grid-template-rows: 165px 165px 165px;
    position: relative;
    left: 800px;
    top: 80px;
    z-index: 10;
}

.allimg img {
    border: 2px;
    border-radius: 20px;
    width: 230px;
    height: 156px;
    gap: 50px;
}

.gridcontainer .items h1 {
    width: 650px;
    height: 40px;
    position: relative;
    bottom: 410px;
    left: 50px;
    font-family: "Epunda Sans", sans-serif;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1em;
}

.gridcontainer .items h4 {
    width: 600px;
    height: 40px;
    position: relative;
    bottom: 290px;
    left: 50px;
    font-family: "Epunda Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2em;
}

footer {
    width: 100vw;
    height: 170px;
    background-color: #222222;
    position: relative;
    top: 500px;
}

.lastimg {
    position: relative;
    left: 48vw;
    top: 30px;
}

.para {
    color:rgb(30, 170, 220);
    position: relative;
    left: 40vw;
    top: 32px;
     font-family: "Epunda Sans", sans-serif;
}
.para1 {
    color: rgb(30, 170, 220);
    position: relative;
    left: 52vw;
    top: 10px;
     font-family: "Epunda Sans", sans-serif;
}
.para2 {
    color: rgb(88, 168, 248);
    position: relative;
    left: 61vw;
    bottom: 10px;
     font-family: "Epunda Sans", sans-serif;
}
.lastline{
    color: #8da8be;
    position: relative;
    left: 40vw;
    bottom: 2px;
     font-family: "Epunda Sans", sans-serif;
     font-size: 19px;
}