@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    padding: 0;
    margin: 0;

}
body{
     font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url("/image/mainbackground.jpeg");
}
nav{
    background-color: rgba(0, 0, 0, 0.504);
    backdrop-filter: blur(10px);
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;

   
}
.nav-opt{
    display: flex;
    gap: 25px;
    text-transform: capitalize;
}
ul li{
    margin: 4px;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3sec;
}
ul li a:hover{
    color: blue;
}
.box{
    padding: 40px;
    width: 30rem;
    background-color: black;
    color: white;
}